# Vim
*.swp

# Release
bin/

# Generic headers
src/arial.hpp

# Autoconf
autom4te.cache
/Makefile
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
